//Variable
$color-primary: #fff;
$color-secondary: linear-gradient(to bottom, #d90647 25%, #eb3f2d 70%);
$color-tertiary: #808080;
$color-top-background: #d90647;
$color-bottom-link: #363636;
$color-text: #989898;
$color-form: #f8f8f8;
$color-video-text: #f5acae;
$font-family: 'Lato', sans-serif;
$separation: #e0e0e0 solid .1rem;
$font-black: 900;
$font-regular: 400;
$font-bold: 700;
$shadow: -1rem 2rem 2rem #ddd;
$major-fraction: 1fr;
$minor-fraction: .5fr;
$margin-between: 13rem 0;
$breakpoint-phone: 767px;
$breakpoint-tablet: 1025px;
$font-size-tablet: 1.5rem;
$font-size-phone: 1.1rem;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family;
}

.l-main {
    margin-top: 5rem;
}

.o-background {
    background: $color-secondary;
    height: 100%;
    max-height: 45rem;
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;


    &::after {
        content: "";
        background: $color-primary;
        transform: skewY(-6deg);
        height: 28%;
        position: absolute;
        display: block;
        width: 100%;
        bottom: -14%;
    }

    &--thin {
        background: linear-gradient(to bottom, #d90647 25%, #eb3f2d 70%);
        position: absolute;
        grid-column: 1/4;
        max-height: 29rem;
        height: 100%;
        display: block;
        width: 100%;
        max-width: 120rem;
        top: 11%;
        z-index: -1;

        &::after {
            content: none;
        }
    }
}


.o-header {
    &__banner {
        display: flex;
        justify-content: space-between;
        justify-items: baseline;
        align-items: baseline;
        padding: 2rem;
        color: $color-primary;
    }

    &__logo {
        font-weight: $font-black;
        color: $color-primary;
        text-decoration: none;
        font-size: 2rem;
    }
}

.o-nav {

    &__list {
        list-style: none;
        display: flex;
        margin: 0;
    }

    &__link {
        $p: &;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: $font-regular;
        color: $color-primary;
        padding-left: 3.5rem;

        &--black {
            @extend #{$p};
            color: $color-bottom-link;
            padding-right: 3.5rem;
            padding-left: 0;
        }
    }
}


.o-grid {
    display: grid;
    grid-template-columns: .2fr repeat(2, $major-fraction);
    font-size: 1.5rem;

    &--1-4 {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, $major-fraction);
    }

    &--1-3 {
        display: grid;
        grid-template-columns: $major-fraction $minor-fraction $major-fraction;
        grid-template-rows: $minor-fraction $major-fraction $minor-fraction;
        position: relative;
    }
}

.o-jumbotron {
    margin-bottom: 8%;
}

.c-presentation {
    grid-column: 2/3;
    padding-top: 10%;

    &__text {
        font-weight: $font-regular;
        font-size: 1.5rem;
        color: $color-primary;
        margin: 2% 0 10%;


        &--black {
            font-weight: $font-black;
        }
    }

    &__title {
        font-size: 4.5rem;
        margin-bottom: 2%;
    }

    &__pic {
        grid-column: 3/4;
        width: 100%;
        max-width: 24rem;
        margin: 7% 0 0 8%;
        z-index: 2;
    }
}

.o-button {
    background: $color-primary;
    border: 0;
    height: 3.5rem;
    width: 12rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;

    &__link {
        font-weight: $font-bold;
        font-size: 1rem;
        text-decoration: none;
        background: $color-secondary;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        display: block;
        margin: auto;

    }
}

.o-footer__inner {
    margin: 4rem 0 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-title {
    font-weight: $font-black;
    color: $color-bottom-link;
    font-size: 3.75rem;
    margin: 2rem 0;

    &--white {
        font-weight: $font-black;
        color: $color-primary;
    }

}


.c-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 1.25rem;
    background: $color-secondary;
    display: inline-block;
}

.c-pics {
    $p: &;
    text-align: center;
    position: relative;
    padding-bottom: 11%;
    grid-column: 1/2;

    &__item {
        box-shadow: $shadow;

        &--top {
            position: absolute;
            box-shadow: $shadow;
            bottom: 0;
            left: 56%;
        }

        &--right {
            @extend #{$p}__item--top;
            left: 15%;

        }
    }

    &--right {
        @extend #{$p};
        grid-column: 2/3;
    }
}

.c-desc {
    $p: &;
    margin: auto;
    max-width: 72%;
    grid-column: 2/3;
    grid-row: 1/2;

    &--left {
        @extend #{$p};
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

.c-text {
    $p: &;
    font-weight: $font-regular;
    line-height: 2rem;
    font-size: 1.1rem;
    color: $color-text;
    width: 100%;
    max-width: 35rem;

    &--center {
        @extend #{$p};
        max-width: none;
        text-align: center;
    }
}

.c-commentary {

    margin: $margin-between;

    &__bubble {
        display: grid;
        grid-template-columns: repeat(3, $major-fraction);
        grid-template-rows: 21rem;
        grid-column-gap: 2%;
        margin: 3% 10% 0;
    }

    &__title {
        margin: 6rem 0;
    }
}

.c-bubble {
    $p: &;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__inner {
        border: .05rem solid #e0e0e0;
        margin-top: 8%;
        position: relative;

    }

    &__text {
        font-weight: $font-regular;
        color: $color-tertiary;
        margin: 7%;
        line-height: 2rem;
        font-style: italic;
    }

    &__text::before {
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #e0e0e0;
        position: absolute;
        bottom: -.7rem;
        left: 1rem
    }

    &__text::after {
        content: "";
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-top: .5rem solid #fff;
        position: absolute;
        bottom: -.5rem;
        left: 1.1rem;
    }

    &__company {
        font-weight: $font-bold;
        color: $color-top-background;
        margin: 0;
        padding: 0 0 5% 7%;
    }

    &__title {
        padding-top: 1rem;
        text-align: center;
    }

    &--white {
        border-color: $color-primary;
        box-shadow: 0 2rem 2rem #ddd;
        margin: 0;

        #{$p}__text::before {
            border-top: 10px solid $color-primary;
        }
    }

    &__pics {
        display: flex;
        align-content: baseline;
    }

    &__user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1rem;
    }

    &__name {
        font: $font-regular;
        color: $color-bottom-link;
        margin: 0;
    }

    &__job {
        font-family: 'Ubuntu', sans-serif;
        color: #667386;
        text-transform: uppercase;
        margin: 0;
    }
}

.c-video {
    $p: &;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: auto;
    max-width: 55%;

    &__wrap {
        display: flex;
        flex: auto;
    }

    &__title {
        margin: auto 0;
    }

    &__illus {
        grid-row: 1/4;
        grid-column: 2/3;
        margin: auto;
        width: 100%;
        max-width: 34rem;
    }

    &--right {
        @extend #{$p};
        grid-column: 3/4;
        margin-left: 0;
    }

    &__head {
        $p: &;
        display: flex;
        justify-content: flex-end;
        padding-top: 3%;

        &--reverse {
            @extend #{$p};
            justify-content: flex-start;

        }
    }

    &__text {
        color: $color-video-text;
        font-weight: $font-regular;
        line-height: 1.5rem;

    }

    &__pics {
        padding: 0 5%;
    }
}

.c-subscribe {
    margin: $margin-between;

    &__submit {
        @extend %input;
        background: $color-secondary;
        border: 0;
        color: $color-primary;
        font-weight: bold;
        min-width: 10rem;
        margin-left: -10rem;
        box-shadow: 0 .5rem 1rem #D9060A;
    }

    &__mail {
        @extend %input;
        background: $color-form;
        width: 100%;
        border: 0;
        max-width: 30rem;
    }


    &__form {
        margin-top: 4%;
    }
}

.c-download {
    &__wrapper {
        padding-top: 4rem;
    }

    &__pic {
        margin-top: 4rem;
    }
}

.c-language {
    &__form {
        padding-right: 1.5rem;
    }

    &__select {
        border: 0;
        background: $color-form;
        border-radius: 3rem;
        @extend %input;
        padding: 1rem 4rem;
        font: $font-regular;
        text-transform: uppercase;
        color: $color-bottom-link;
    }
}

.u-center {
    text-align: center;
}

.u-separate {
    border-top: $separation;
}

.u-left {
    text-align: left;
}

%input {
    padding: 1rem 1.5rem;
    border-radius: 3rem;
}

//Responsive part

@mixin tablet {
    .o-background {
        height: 135%;
        max-height: 85rem;

        &--thin {
            max-height: 95rem;
            top: -1%;
        }
    }

    .l-header {
        display: flex;
        justify-content: center;
    }
    .o-header {
        &__banner {
            display: block;
            text-align: center;
            padding: 2rem 0;
        }
    }

    .o-grid {
        display: flex;
        flex-direction: column;

        &--1-3 {
            display: flex;
            flex-direction: column;
        }

        &--1-4 {
            display: flex;
            flex-direction: column;
        }
    }

    .c-presentation {
        order: 2;
        text-align: center;
        padding-top: 0;

        &__text {
            margin: 1rem 0;
            padding: .5rem 3rem 1rem;
        }

        &__pic {
            order: 1;
            margin: auto;
        }

        &__title {
            margin-top: 0;
        }

    }

    .o-button {
        margin: auto;
    }

    .o-nav {
        &__list {
            margin: 2% 0 0 -8%;

            &--responsive {
                padding-right: 1.5rem;

            }
        }

        &__link {
            padding-left: 6.5rem;

            &--black {
                padding: 0 1.5rem 0 .5rem;
            }
        }
    }

    .c-text {
        font-size: $font-size-tablet;

        &--center {
            margin: auto;
            padding: 0 2rem;
        }
    }
    .c-title {
        font-size: 2.75rem;
    }

    .c-pics {
        &__item {
            &--top {
                position: initial;
            }
        }
    }

    .c-commentary {
        margin: 8rem 0;

        &__bubble {
            display: flex;
            flex-direction: column;
        }
    }

    .c-bubble {
        padding-bottom: 5%;
        display: block;

        &__text {
            font-size: $font-size-tablet;

            &::before {
                left: 1.2rem;
            }

            &::after {
                left: 1.35rem;
            }
        }

        &__inner {
            margin-top: 0;
        }

        &__pics {
            padding-top: 2rem
        }

        &--white {
            box-shadow: 0 0 2rem #ddd;
        }

        &__name {
            font-size: $font-size-tablet;
        }
    }

    .c-video {
        max-width: none;
        text-align: left;
        margin: 0 1.7rem;
        order: 2;

        &__illus {
            order: 1;
        }

        &__text {
            font-size: $font-size-tablet;
            margin-left: -5rem
        }

        &__head {
            justify-content: initial;
            padding: 0;
        }

        &--responsive {
            flex-direction: row-reverse;
        }
    }

    .c-subscribe {
        margin: 8rem 0;
        padding: 0 1rem;

        &__mail {
            font-size: $font-size-tablet;
        }

        &__submit {
            display: block;
            margin: 1.5rem auto 0;
        }
    }

    .c-language__select {
        padding: 1rem .5rem;
    }
}

@media (max-device-width: $breakpoint-tablet) {
    @include tablet;
}

@media (max-device-width: $breakpoint-phone) {
    @include tablet;

    .o-background {
        height: 195%;
        max-height: 81rem;
    }

    .c-presentation {
        &__title {
            font-size: 2.5rem;
        }

        &__text {
            font-size: $font-size-phone;
            @media all and (max-device-width: 320px) {
                margin: 0;
            }
        }
    }

    .o-nav {
        &__list {
            &--responsive {
                flex-direction: column;
            }
        }

        &__item {
            margin-top: 1rem;
        }

        &__link {
            padding-left: 1rem;

            &--black {
                display: block;
                padding: .5rem
            }
        }
    }

    .c-title {
        font-size: 1.75rem;
    }


    .c-text {
        font-size: $font-size-phone;
    }

    .c-bubble {
        &__text {
            font-size: $font-size-phone;

            &::before {
                left: 1.25rem;
            }

            &::after {
                left: 1.4rem;
            }
        }

        &__name {
            font-size: $font-size-phone;
        }

        &__pics {
            padding-top: 1.5rem;
        }
    }

    .c-video {
        &__text {
            font-size: $font-size-phone;
            margin-left: -4rem;
        }

        .c-subscribe {
            &__mail {
                font-size: $font-size-phone;
                width: 18rem;
            }
        }

        .c-pics__item {
            margin-bottom: 1rem;
        }
    }
}


